Package: com.wyattgahm.librelic
Name: librelic
Depends: mobilesubstrate (>= 0.9.5.000)
Version: 2.1.0
Architecture: iphoneos-arm
Description: library for Snapchat hooking
Maintainer: Wyatt Gahm + Kanji
Author: Wyatt Gahm + Kanji
Section: Development
